/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1,2;
    font-weight: normal;
    color: #102746;
} 

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    padding-bottom: 10px;
    position: relative;
}

.section-title::after {
    display: block;
    content: '';
    background: #006DFE;
    width: 252px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* Header start */

.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 62px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header__item{
    padding-right: 82px;
}

.header__item:last-child {
    padding-right: 0;
}

.header__item:hover {
    opacity: .75;
}

/* Header end */

/* Intro start */

.intro {
    min-height: 100vh;
    background: url(../img/Hero-bg.jpeg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.intro__title {
    max-width: 619px;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.intro__subtitle {
    margin-bottom: 59px;
    max-width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    width: 297px;
    background: url(../img/circle-ico.svg) no-repeat left center;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__field::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__submit {
    background: #1B7DFF;
    padding: 15px 40px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
}

.search-form__submit:hover {
    background: #1667d1;
}

/* Intro end */

/* Benefits start */

.benefits__wrap {
    max-width: 1262px;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}

.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 120px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits__card {
    grid-column: span 1;
    padding-bottom: 112px;
}

.benefits__card-img {
    padding-bottom: 37px;
}

.benefits__card-title {
    padding-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.benefits__card-desc {
    padding-bottom: 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.benefits__card-more {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/shape-ico.png) no-repeat 95% center;
    transition: .3s all;
}

.benefits__card-more:hover {
    background: url(../img/shape-ico.png) no-repeat right center;
}

.benefits {
    margin-bottom: 131px;
}


/* Benefits end */

/* Places start */

.places {
    margin-bottom: 131px;
}

.places__capture {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
}

.places__view-all {
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/shape-ico.png) no-repeat 95% center;
}

.places__view-all:hover {
    opacity: .75;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}



.places__card {
    position: relative;
    overflow: hidden;
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.places__card:hover .places__card-pic {
    transform: scale(1.03);
    transition: .6s all;
}

.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(9, 14, 15, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card-pic {
    width: 100%;
}

.places__card-lg {
    grid-column: span 3;
}

.places__card-sm {
    grid-column: span 2;
}

.lg {
    height: 354px;
}

.sm {
    height: 283px;
}

.places__card-desc {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

/* Places end */

/* Tours start */

.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-bottom: 77px;
}

.tours__tour-pic {
    grid-column: span 1;
}

.tours__tour-info {
    grid-column: span 1;
    max-width: 519px;
    margin: auto auto;
}

.tours__tour-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tours__tour-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tours__tour-more {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    padding-right: 59px;
    background: url(../img/shape-ico.png) no-repeat 95% center;
}

.tours__tour-more:hover {
    opacity: .75;
}

/* Tours end */

/* Top start */

.top {
    margin-bottom: 144px;
}

.top__header {
    margin-bottom: 55px;
}

.top__cards {
    display: grid;
    grid-gap: 58px;
    grid-template-columns: repeat(3, 1fr);
}

.top__card {
    grid-column: span 1;
}

.top__card-pic {
    margin-bottom: 45px;
    position: relative;
}

.top__card-info {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 25px;
    justify-content: flex-end;
    background: rgba(21, 24, 36, 0.4);
}

.top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 0 0;
}

.top__card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    background: url(../img/heart-ico.svg) no-repeat right;
    margin-right: 15px;
}

.top__card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 24px;
    background: url(../img/comment-ico.svg) no-repeat right;
}

.top__card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.top__card-more {
    ont-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #006DFE;
    padding: 12px 19px;
    text-decoration: none;
}

.top__card-more:hover {
    opacity: 0.75;
}

/* Top end */